/* color noGroup #f2f2f2 */
/* color base #ff4f4f */
/* color http #90caf9 */
/* color java #ffee58 */
/* color javascript #bf82d1 */
/* color servizi #4dc452 */
/* color spring #39fa42 */
/* placeholder color map HTML */


* {
    box-sizing:border-box;
    --colore-testo: #000000;
    --colore-testo-poco-evidenziato: #9c1f26;
    --colore-testo-molto-evidenziato: #c75e02;

    --colore-box-evidenziati-sfondo: #ffdd71;
    --colore-box-evidenziati-bordo: #ffab40;
    --colore-box-evidenziati-rilievo: #ffab40;

    --colore-suggerimenti-testo: #000000; 
    --colore-suggerimenti-sfondo: #05dfdf;
    --colore-suggerimenti-bordo: #00acac;
}

body    { font-family: Optima, Verdana, sans-serif; margin:0em }
/* ------------------------------------------- header ------------------------------------------ */
body.noGroup                 header { background-color: var(--colore-sfondo-noGroup) }
body.base                    header { background-color: var(--colore-sfondo-base) }
body.http                    header { background-color: var(--colore-sfondo-http) }
body.java                    header { background-color: var(--colore-sfondo-java) }
body.javascript              header { background-color: var(--colore-sfondo-javascript) }
body.servizi                 header { background-color: var(--colore-sfondo-servizi) }
body.spring                  header { background-color: var(--colore-sfondo-spring) }
header    { margin:0 ; padding:0 }
header h1 { margin:0 ; padding:2rem 3em 0.5rem 3em ; text-align: center }
header p  { margin:0 ; padding: 0.5rem 1rem 2rem 1rem ; text-align: center ; text-indent: 0 }
.legenda.noGroup             { background-color: var(--colore-sfondo-noGroup) }
.legenda.base                { background-color: var(--colore-sfondo-base) }
.legenda.http                { background-color: var(--colore-sfondo-http) }
.legenda.java                { background-color: var(--colore-sfondo-java) }
.legenda.javascript          { background-color: var(--colore-sfondo-javascript) }
.legenda.servizi             { background-color: var(--colore-sfondo-servizi) }
.legenda.spring              { background-color: var(--colore-sfondo-spring) }
.legenda { border:1px solid gray; padding:0.5em ; margin-top:1em }
/* -------------------------- precedente - indice - successiva --------------------------------- */
body.noGroup                 nav { background-color: var(--colore-sfondo-noGroup-chiaro) }
body.base                    nav { background-color: var(--colore-sfondo-base-chiaro) }
body.http                    nav { background-color: var(--colore-sfondo-http-chiaro) }
body.java                    nav { background-color: var(--colore-sfondo-java-chiaro) }
body.javascript              nav { background-color: var(--colore-sfondo-javascript-chiaro) }
body.servizi                 nav { background-color: var(--colore-sfondo-servizi-chiaro) }
body.spring                  nav { background-color: var(--colore-sfondo-spring-chiaro) }
nav {
    margin:0; padding: 1rem;
    display: flex; flex-direction: row;
}
nav a { color: white}
body.noGroup                 nav > * { background-color: var(--colore-sfondo-noGroup-scuro) }
body.base                    nav > * { background-color: var(--colore-sfondo-base-scuro) }
body.http                    nav > * { background-color: var(--colore-sfondo-http-scuro) }
body.java                    nav > * { background-color: var(--colore-sfondo-java-scuro) }
body.javascript              nav > * { background-color: var(--colore-sfondo-javascript-scuro) }
body.servizi                 nav > * { background-color: var(--colore-sfondo-servizi-scuro) }
body.spring                  nav > * { background-color: var(--colore-sfondo-spring-scuro) }
nav > * {
    flex-grow: 1;
    text-align:center; text-decoration: none;
    margin:0em 1em; padding:0.5em;
}


/* --------------------------- parti principali della pagina --------------------------------- */
article, section { margin:1em 5% ; padding-bottom:3em}
h2 { 
    text-align: left;
    margin-top:3rem;
    border-bottom:1px dashed #444; 
}
h3 { 
    text-align: left; 
    margin-top:2rem;
    border-bottom:1px dotted #999; 
}
p, dfn {
    text-align: justify;
    line-height: 1.5rem;
}
em {
    font-style: italic; font-weight: normal; color: var(--colore-testo-poco-evidenziato) ;
}
dfn {
    display: block;
    font-style: normal;
    padding: 0.75em;
    background-color: var(--colore-box-evidenziati-sfondo);
    border-top: 0.5em solid var(--colore-box-evidenziati-bordo) 
}
dfn em { font-style: normal; font-weight: bold; font-size: 115%; color: var(--colore-testo-molto-evidenziato) }
img.screen_shot { border:1px solid gray; margin: 0.5em }
img.iconaIDE { height: 2ex; }
li { margin-top:0.2em }
strong { font-size:125% ; font-weight: normal; font-style: normal}
dt { font-weight: bold ; margin-top:0.5em}
table { border-collapse: collapse }
td,th { border:1px solid #444 ; padding:0.25em}


.approfondimento { 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    border-left: 0.2em dashed var(--colore-box-evidenziati-bordo);
    border-right: 0.2em dashed var(--colore-box-evidenziati-bordo);
    padding: 0em 1em;
    margin-top: 2em;
}
.approfondimento:before {
    content: "🔍 per saperne di più";
    font-size: 150%;
    background-color: var(--colore-box-evidenziati-sfondo); 
    padding: 0.2em;
}


.FIXME { background-color: yellow; color:red; padding:1em ; margin:1em}

/* ------------------------------------ codice sorgente ---------------------------------------- */
pre, code, var, samp { font-family: "Courier", "Courier New", monospace }
pre {
    clear: both;
    margin: 1em 0em;
    font-family: monospace;
    font-size: 115%;
    overflow: auto;
}
pre > * {
    line-height: 125%; padding: 0.5em; overflow: auto;
}
pre samp { display: block; background-color: #a7fa9d; }
pre code { display: block; background-color: #eeeeee; }
p code { color: var(--colore-testo-poco-evidenziato); white-space: nowrap;}
code {
    padding:0.5em
}
code em {
    font-style: normal;
}
var {
    color: #a45920; 
    font-size: 110%;
    font-style: italic 
}
pre var { font-size:100% }
.vecchio { opacity:0.4; }
pre .esecuzione { background-color:yellow } /* lo usa l'interpreter visuale */
/* --------------------------------------- i test ---------------------------------------------- */
.test {
    padding: 1em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    background-color: var(--colore-box-evidenziati-sfondo);
    border-top: 0.5rem solid var(--colore-box-evidenziati-bordo);
}
.test p {
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.test a {
    display: inline-table;
    margin: 0.5em; 
    padding: 0.5em 0.75em;
    background-color: var(--colore-box-evidenziati-rilievo);
    box-shadow: 1px 1px 3px black;
    border-radius:0.5em;
}
.test a span.spiegazione { display:none ; font-size:85% }
.test a span.spiegazione:before { content: " (" }
.test a span.spiegazione:AFTER  { content: ")"  }
.test a.spiega span.spiegazione { display:inline }
.rispostaGiusta { background-color: lime !important}
.rispostaSbagliata { background-color: #ff6161 !important}
/* --------------------------------- gli esercizi da completare -------------------------------- */
.riempiSpazi { white-space: pre; font-family: monospace ; font-size:150%; line-height: 1.4em}
.riempiSpazi span { border:1px solid gray; display:inline-block; vertical-align:baseline }
.riempiSpazi em { color:red; font-weight: bold }
.riempiSpazi .giusta { background: green }
.riempiSpazi .sbagliata { background: #ff6161 }
.mostraSoluzione { color:blue ; font-weight: bold}
.controllaRisposta { color:blue ; font-weight: bold} 
/* -----------------------------i testi degli esercizi da svolgere ----------------------------- */
.esercizio {
    margin-top:4em;
    padding: 0.5rem;
    background-color: var(--colore-box-evidenziati-sfondo);
}
.esercizio + .esercizio { margin-top:1em }
.esercizio p { margin:0 }
.esercizio h3, .esercizio h1 { margin-top:0; margin-bottom:0 }
body {
    counter-reset: section;           /* Set the section counter to 0 */
}
div.esercizio:before {
    counter-increment: section;      /* Increment the section counter */
    content: "esercizio " counter(section); /* Display the counter */
    font-size:85%;
    display: block;
    margin:-0.5rem -0.5rem 0.5rem -0.5rem;
    padding: 0.25rem;
    background-color: var(--colore-box-evidenziati-bordo)
}
/* -------------------------------------- i box a lato ----------------------------------------- */
div.curiosita, div.suggerimento {
    float:right; clear:both; width:25%; font-size:85% ;
    padding:1em ; margin: 1em 0em 1em 2em ; 
    text-align: left;
    background-color: var(--colore-suggerimenti-sfondo); 
    color: var(--colore-suggerimenti-testo);
}
div.suggerimento {
    white-space: normal !important;
    overflow:auto; 
    border-top: 0.5rem solid var(--colore-suggerimenti-bordo);
}
